@using Boutique.Web.ViewModel.Order
@model OrderHistoryViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Order Tracking Section -->
<section class="container my-5">
    <h2 class="text-center">Order Tracking</h2>
    <div class="card">
        <div class="card-body">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Order ID</th>
                        <th>Recipient Name</th>
                        <th>Address</th>
                        <th>Total Amount</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                </thead>
                @foreach(var item in Model.OrderHistory)
                {
                    <tbody id="orderList">
                        <tr>
                            <td>#@item.OrderId</td>
                            <td>@item.RecipientName</td>
                            <td>@item.AddressValue</td>
                            <td>@item.TotalAmount</td>
                            <td>@item.OrderStatus</td>
                            <td>
                                <a href="@Url.Action("OrderDetail", "Order", new { orderId = item.OrderId })" class="btn btn-primary">View Detail</a>
                            </td>
                            
                        </tr>
                    </tbody>
                }                
            </table>
        </div>
    </div>
</section>
<script>
    
</script>