@using Boutique.Web.ViewModel
@model ProductHomeViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="related-products" class="related-products py-5 position-relative">
    <div class="container">
        <div class="d-flex flex-wrap justify-content-between align-items-center mt-5 mb-3">
            <h4 class="text-uppercase">All Products</h4>
            <a href="@Url.Action("Index", "Home")" class="btn-link">Back to Home page</a>
        </div>
        <form method="get" action="@Url.Action("AllProducts", "Home")">
            <div class="row mb-4">
                <div class="col">
                    <select id="categoryFilter" name="categoryId" class="form-select">
                        <option value="">@Model.SelectedCategory.Name</option>
                        @foreach (var category in Model.Categories)
                        {
                            <option value="@category.CategoryId">@category.Name</option>
                        }
                    </select>
                </div>
                <!-- Gender Filter -->
                <div class="col">
                    <select id="genderFilter" name="gender" class="form-select">
                        <option value="2">Select Gender</option>
                        <option value="1" >Men</option>
                        <option value="0" >Women</option>
                    </select>
                </div>
                <div class="col">
                    <button type="submit" class="btn btn-primary">Filter</button>
                </div>
            </div>
        </form>
        <div class="row row-cols-1 row-cols-md-4 g-4">
            @foreach (var product in Model.Products)
            {
                <div class="col">
                    <div class="product-item image-zoom-effect link-effect">
                        <div class="image-holder">
                            <a href="@Url.Action("ProductDetail", "Home", new { id = product.ProductId })">
                                <img src="@Url.Content(@product.Images.FirstOrDefault()?.ImagePath)" alt="product" class="product-image img-fluid">
                            </a>
                            <a href="wishlist.html" class="btn-icon btn-wishlist">
                                <svg width="24" height="24" viewBox="0 0 24 24">
                                    <use xlink:href="#heart"></use>
                                </svg>
                            </a>
                            <div class="product-content">
                                <h5 class="text-uppercase fs-5 mt-3">
                                    <a href="@Url.Action("ProductDetail", "Home", new { id = product.ProductId })">@product.Name</a>
                                </h5>
                                <a href="cart.html" class="text-decoration-none" data-after="Add to cart"><span>@product.Price &#8363;</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>

<style>
    .product-item {
        position: relative;
    }

    .image-holder {
        position: relative;
        overflow: hidden;
    }

    .product-image {
        width: 100%;
        height: 400px; 
        object-fit: cover;
        object-position: center;
    }
</style>
<script>

    document.addEventListener("DOMContentLoaded", function() {
        var categoryFilterValue = new URLSearchParams(window.location.search).get('categoryFilter');
        if (categoryFilterValue) {
            var selectElement1 = document.getElementById('categoryFilter');
            selectElement1.value = categoryFilterValue;
        }
        var genderFilterValue = new URLSearchParams(window.location.search).get('genderFilter');
        if (genderFilterValue) {
            var selectElement2 = document.getElementById('genderFilter');
            selectElement2.value = genderFilterValue;
        }
    });

    var selectedGender = @Model.SelectedGender;

    // Get the select element
    var genderSelect = document.getElementById("genderFilter");

    // Set the default option based on selectedGender
    if (selectedGender === 3) {
        genderSelect.value = "3";
    } else {
        genderSelect.value = selectedGender;
    }
</script>

