@using Boutique.Web.ViewModel.Home
@model IndexViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="categories overflow-hidden">
    <div class="container">
        <div class="open-up" data-aos="zoom-out">
            <div class="row">
                <div class="col-md-4">
                    <div class="cat-item image-zoom-effect">
                        <div class="image-holder">
                            <a href="@Url.Action("AllProducts", "Home", new { gender = 1 })">
                                <img src="images/cat-item1.jpg" alt="categories" class="product-image img-fluid">
                            </a>
                        </div>
                        <div class="category-content">
                            <div class="product-button">
                                <a href="@Url.Action("AllProducts", "Home", new { gender = 1 })" class="btn btn-common text-uppercase">Shop for men</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="cat-item image-zoom-effect">
                        <div class="image-holder">
                            <a href="@Url.Action("AllProducts", "Home", new { gender = 0 })">
                                <img src="images/cat-item2.jpg" alt="categories" class="product-image img-fluid">
                            </a>
                        </div>
                        <div class="category-content">
                            <div class="product-button">
                                <a href="@Url.Action("AllProducts", "Home", new { gender = 0 })" class="btn btn-common text-uppercase">Shop for Women</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="cat-item image-zoom-effect">
                        <div class="image-holder">
                            <a href="@Url.Action("AllProducts", "Home", new { categoryId = 6 })">
                                <img src="images/cat-item3.jpg" alt="categories" class="product-image img-fluid">
                            </a>
                        </div>
                        <div class="category-content">
                            <div class="product-button">
                                <a href="@Url.Action("AllProducts", "Home", new { categoryId = 6 })" class="btn btn-common text-uppercase">Shop accessories</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="new-arrival" class="new-arrival product-carousel py-5 position-relative overflow-hidden">
    <div class="container">
        <div class="d-flex flex-wrap justify-content-between align-items-center mt-5 mb-3">
            <h4 class="text-uppercase">Our New Arrivals</h4>
            <a href="@Url.Action("AllProducts", "Home")" class="btn-link">View All Products</a>
        </div>
        <div class="swiper product-swiper open-up" data-aos="zoom-out">
            <div class="swiper-wrapper d-flex">
                @foreach(var product in Model.RecentProducts)
                {
                    <div class="swiper-slide">
                        <div class="product-item image-zoom-effect link-effect">
                            <div class="image-holder position-relative">
                                <a href="@Url.Action("ProductDetail", "Home", new { id = product.ProductId })">
                                    <img src="@Url.Content(@product.Images.FirstOrDefault()?.ImagePath)" alt="categories" class="product-image img-fluid">
                                </a>
                                <a href="wishlist.html" class="btn-icon btn-wishlist">
                                    <svg width="24" height="24" viewBox="0 0 24 24">
                                        <use xlink:href="#heart"></use>
                                    </svg>
                                </a>
                                <div class="product-content">
                                    <h5 class="element-title text-uppercase fs-5 mt-3">
                                        <a href="@Url.Action("ProductDetail", "Home", new { id = product.ProductId })">@product.Name</a>
                                    </h5>
                                    <a href="#" class="text-decoration-none" data-after="Add to cart"><span>@string.Format("{0:N0}đ", @product.Price)</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                
                
            </div>
            <div class="swiper-pagination"></div>
        </div>
        <div class="icon-arrow icon-arrow-left">
            <svg width="50" height="50" viewBox="0 0 24 24">
                <use xlink:href="#arrow-left"></use>
            </svg>
        </div>
        <div class="icon-arrow icon-arrow-right">
            <svg width="50" height="50" viewBox="0 0 24 24">
                <use xlink:href="#arrow-right"></use>
            </svg>
        </div>
    </div>
</section>

<section id="related-products" class="related-products product-carousel py-5 position-relative overflow-hidden">
    <div class="container">
        <div class="d-flex flex-wrap justify-content-between align-items-center mt-5 mb-3">
            <h4 class="text-uppercase">You May Also Like</h4>
            <a href="@Url.Action("AllProducts", "Home")" class="btn-link">View All Products</a>

        </div>
        <div class="swiper product-swiper open-up" data-aos="zoom-out">
            <div class="swiper-wrapper d-flex">
                @foreach(var product in Model.RecommendProducts.Products)
                {
                    <div class="swiper-slide">
                        <div class="product-item image-zoom-effect link-effect">
                            <div class="image-holder position-relative">
                                <a href="@Url.Action("ProductDetail", "Home", new { id = product.Product.ProductId })">
                                    <img src="@Url.Content(@product.Product.Images.FirstOrDefault()?.ImagePath)" alt="categories" class="product-image img-fluid">
                                </a>
                                <a href="wishlist.html" class="btn-icon btn-wishlist">
                                    <svg width="24" height="24" viewBox="0 0 24 24">
                                        <use xlink:href="#heart"></use>
                                    </svg>
                                </a>
                                <div class="product-content">
                                    <h5 class="element-title text-uppercase fs-5 mt-3">
                                        <a href="@Url.Action("ProductDetail", "Home", new { id = product.Product.ProductId })">@product.Product.Name</a>
                                    </h5>
                                    <a href="#" class="text-decoration-none" data-after="Add to cart"><span>@string.Format("{0:N0}đ", @product.Product.Price)</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                
                
            </div>
            <div class="swiper-pagination"></div>
        </div>
        <div class="icon-arrow icon-arrow-left">
            <svg width="50" height="50" viewBox="0 0 24 24">
                <use xlink:href="#arrow-left"></use>
            </svg>
        </div>
        <div class="icon-arrow icon-arrow-right">
            <svg width="50" height="50" viewBox="0 0 24 24">
                <use xlink:href="#arrow-right"></use>
            </svg>
        </div>
    </div>
</section>
